@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$White: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $LightGray;
    font-family: 'Outfit',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    background-color: $White;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    box-shadow: 7px 6px 5px 0px rgba(123,135,157,0.5);
    .card_img{
        img{
            width: 100%;
            border-radius: 15px;
        }
    }
    .card_title{
        color: $DarkBlue;
        padding: 1rem 1.2rem;
        text-align: center;
    }
    .card_description{
        color: $GrayishBlue;
        padding: 1rem 1.2rem;
        text-align: center;
    }
}
.attribution{
    color: $DarkBlue;
    a{
        text-decoration: none;
        color: $GrayishBlue;
        &:hover{
            color: $DarkBlue;
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 736px){
    .card{
    max-width: 330px;
}
}